.button {
    width: 200px;
    height: 50px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
}