@import '../../../base/breakpoints.scss';

.slide {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background-size: cover;
    background-position: center center;
    float: left;
    transition: transform;
    transition-timing-function: ease-in;


    @include md {
        width: 50%;
    }

    &__is-previous {
        transform: translate(-100%, 0);
        z-index: 2;
    }
    &__is-current {
        transform: translate(0, 0);
        z-index: 3;
    }
    &__is-next {
        transform: translate(100%, 0);  
        z-index: 3;
    }
    &__is-second-next {
        transform: translate(200%, 0);
        z-index: 1;
    }
    &__is-after-second-next {
        opacity: 0;
        transform: translate(300%, 0);
    }
}